<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
{% if showTitle %}
<h1>{{title | safe}}</h1>
{% endif %}
{% for type, config in types %}
	<div class="garbage-row">
		<span class="garbage-icon"><span class="fa fa-fw {{config.icon | safe}}"></span></span>
		<span class="garbage-text">{{config.text | safe}}</span>
	</div>
{% endfor %}
