.MMM-Garbagezona {
    margin-bottom: 10px;
    font-size: 60%;
    font-weight: 200;
}

.MMM-Garbagezona h1 {
    margin-bottom: 10px;
}

.MMM-Garbagezona .garbage-row  {
    
    height: 30px;
    line-height: 30px;
}

.MMM-Garbagezona .garbage-icon  {
    padding-left: 10px;
}

.MMM-Garbagezona .garbage-text  {
    padding-left: 10px;
}
